<%= form_with model: [@article, @article.comments.build] do |form| %>

    <div class=container>
        <div class="d-grid d-sm-flex justify-content-sm-center pr-3 pb-3 input-group">
            <span class="input-group-text">I'm</span>
            <%= form.text_field :commenter, class: "form-control"%>
        </div>

        <div class="d-grid d-sm-flex justify-content-sm-center pr-3 pb-3 input-group">
            <span class="input-group-text">And, I think </span>
            <%= form.text_area :body, class: "form-control" %>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class='col-4 d-grid d-sm-flex justify-content-sm-center'>
                <p>
                    <%= form.label :status %><br>
                    <%= form.select :status, ['public','private','archived'], selected: 'public' %>
                </p>
            </div>
            <div class='col-4 d-grid d-sm-flex justify-content-sm-center'>
                <p>
                    <%= form.label :score %><br>
                    <%= form.select :score, (1..5).to_a, selected: 0 %>
                </p>
            </div>
            <div class='col-4 d-grid d-sm-flex justify-content-sm-center m-auto'>
                <%= form.submit %>
            </div>
        </div>
    </div>
<% end %>
