<%= form_with model: [@article, @article.comments.build] do |comment| %>
    <p>
        <%= comment.label :commenter %>
        <%= comment.text_field :commenter%>
    </p>

    <p>
        <%= comment.label :body %>
        <%= comment.text_area :body %>
    </p>

    <p>
        <%= comment.label :status %><br>
        <%= comment.select :status, ['public','private','archived'], selected: 'public' %>
    </p>

    <p>
        <%= comment.submit %>
    </p>
<% end %>
