<%= form_with model: article do |form| %>
    <div class="container mt-5">
        <div class="d-grid d-sm-flex justify-content-sm-center pr-3 pb-3 input-group">
            <span class="input-group-text"><%= form.label :title %></span><br>
            <%= form.text_field :title, class: "form-control" %>
            <% article.errors.full_messages_for(:title).each do |message|%>
                <div><%= message %></div>
            <% end %>
        </div>

        <div class="d-grid d-sm-flex justify-content-sm-center pr-3 pb-3 input-group-lg">
            <span class="input-group-text"><%= form.label :body %></span><br>
            <%= form.text_area :body, class: "form-control", rows: 10 %>
            <% article.errors.full_messages_for(:body).each do |message|%>
                <div><%= message %></div>
            <% end %>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class='col-6 d-grid justify-content-sm-center m-auto'>
                <p class="text-center d-flex justify-content-sm-center" style="font-size:20px">
                    Comment status
                </p>
                <div class="container d-flex justify-content-center">
                    <div class="btn-group d-table justify-content-sm-center" role="group">
                        <label class="btn btn-outline-primary" for="status1"> Public
                            <%= form.radio_button :status, 'public', id: "status1",class: "btn-check", autocomplete: "off",checked: true%>
                        </label>

                        <label class="btn btn-outline-primary" for="status2"> Private
                            <%= form.radio_button :status, 'private', id: "status2"%>
                        </label>

                        <label class="btn btn-outline-primary" for="status3"> Archived
                            <%= form.radio_button :status, 'archived', id: "status3"%>
                        </label>  
                    </div>
                </div>
            </div>

            <div class='col-6 d-grid d-sm-flex justify-content-sm-center py-3'>
                <%= form.submit :Submit, class: "btn btn-outline-secondary btn-lg" %>
            </div>
        </div>
    </div>
<%end%>