<header class="py-3 bg-dark text-white">
    <div class="d-flex pl-5">
        <% if title == 'New Article' || title == 'Edit Article'%>
            <a class="text-white text-decoration-none mr-auto">
        <% else %>
            <a class="text-white text-decoration-none mr-auto" href="/">
        <% end %>
                <span style="font-size:40px"><%=title%></span>
            </a>
        

        <div class="justify-content-end mr-5 mt-2">
            <% if user_signed_in? %>
                <% case title %>
                <% when 'New Article' %>
                    <%= link_to 'Cancel', root_path, type: 'button',class: 'btn btn-primary'%>
                <% when 'Edit Article' %>
                    <%= link_to 'Cancel', article, type: 'button',class: 'btn btn-primary'%>
                <% else %>
                    <div class="d-flex">
                        <p class='my-auto'>
                            <%= link_to current_user[:email], User.find(current_user[:id]), class: 'text-white'%>
                        </p>
                        <%= link_to 'Sign out', destroy_user_session_path, 
                            method: :delete, 
                            type: 'button',
                            class: 'btn btn-primary ml-4'%>
                    </div>
                <% end %>
            <% else %>
                <% if title== 'Sign Up' || title == 'Sign In' %>
                    <%= link_to 'Cancel', root_path, type: 'button',class: 'btn btn-primary'%>
                <% else %>
                    <%= link_to 'Sign up', new_user_registration_path, type: 'button',class: 'btn btn-primary'%>
                    <%= link_to 'Sign in', new_user_session_path, type: 'button',class: 'btn btn-primary'%>
                <% end %>
            <% end %>
        </div>
    </div>
</header>
